.dashboard {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

mat-toolbar {
  background-color: var(--mat-sys-primary-container);
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav-container {
  height: 100vh;
}

mat-sidenav {
  border-right: 1px solid var(--mat-sys-outline-variant);
  border-radius: 0;
}

a {
  text-decoration: none;
}
